.Signup input {
    font-size: x-large;
    border-radius: 5px;
    margin: 5px;
    padding-left: 10px;
}

.Signup button {
    font-size: x-large;
    border-radius: 5px;
    background-color: rgb(75, 202, 63);
    color: black;
    margin: 5px;
    padding: 5px 10px;
}