.Nav {
    background-color: rgb(75, 202, 63);;
    text-align: center;
    font-weight: bold;
  }
  
.Nav a {
    padding: 0.5em 0;
    width: 10em;
    display: inline-block;
    color: white;
    text-decoration: none;
  }
  
.Nav a:hover {
    background-color: black;
    color: white !important;
  }
  
.Nav a.active {
    font-weight: bold;
    color: black;
  }

.NavHome {
    font-size: x-large;
}