.Home {
    margin-top: 60px;
}

.Home p {
    font-size: large;
}

.Home button {
    font-size: x-large;
    border-radius: 5px;
    background-color: rgb(75, 202, 63);
    color: black;
    margin: 5px;
    padding: 5px 10px;
}